<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="http://localhost:8080/styles/tracker.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://kit.fontawesome.com/03ce98851b.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="http://localhost:8080/scripts/time.js"></script>
        <title>Package Fiend</title>
    </head>
    <body>
        <header class="header">
            <div class="navbar">
                <div class="track_and_button">                
                    <div class="enter_track">
                        <form class="enter_numbers">
                            <div class="enter_numbers_box">
                                <i class="fas fa-box"></i>
                                <input class="add_in" type="text" placeholder="ADD TRACKING NUMBER(S)" />
                            </div>
                        </form>
                    </div>
                    <div class="add_button">ADD</div> 
                </div>
                <img class="logo" src="http://packagefiend.com/images/PkgFiend_logo.svg">
                <div class="sign_in_box"></div>
            </div>    
        </header>
        <div class="tracker_body">
            <!-- This is the purple bar. Becomes a dropdown if multiple tracking numbers are present. -->
            <!-- I want to make it so the entire bar is clickable to display the extra numbers, if present -->
            <div class="collapsible_header">
                <!-- Could add name of package here for users if present -->
                <div></div>
                <div class="track_number_title">
		            <!-- PLACEHOLDER DATA -->
					<div class="tracking_number"><%= dat[0].TrackNum %></div>
		            <!-- PLACEHOLDER DATA -->
					<div class="carrier_icon_bold"><%= dat[0].Provider %></div>
                </div>
                <!-- This only appears if multiple tracking numbers are present. -->
                <div class="more_numbers_selector">
                    <p>more</p>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <!-- This is the dropdown that displays if there are multiple tracking numbers present in the URL -->
            <!-- If there are no extra tracking numbers, it won't display -->
            <div class="collapsible_list">
                <!-- Each of these track_data_line divs represents one of the numbers -->
                <!-- This should automatically select the first number to be selected. It will be changed via JS when switching -->
                
				<% for (let i = 0; i < dat.length; i++) { %>
				<div class=<%- !i ? "'track_data_line tdl_bold'" : 'track_data_line'  %>>
                    <!-- Split into left and right divs for spacing -->                    
                    <div class="data_line_l">
						<p class="data_line_num"><%= dat[i].TrackNum %></p>
						<div class="carrier_icon_bold"><%= dat[i].Provider %></div>
                    </div>
                    <div class="data_line_r">
						<% if (!dat[i].Error) { %>
                        <div class="data_line_status">
							<%= (dat[i].Delivered ? 'Delivered:' : 'In Transit:') %>
						</div>
                        <div class="data_line_delivery_date indv_time"><%- dat[i].MostRecentTime %></div>
						<% } else { %>
                        <div class="data_line_status">
							No Information Yet
						</div>
						<% } %>
                    </div>
                </div>
				<% } %>
			</div>
            <div class="map_and_events">
            
                <div id="map"></div>
            
                <div class="events_data">
                    <div class="est_delivery">
						<% if (!dat[0].Error) { %>
                        <div id="est_delivery_desc" class="bold_body">
							<%= dat[0].Delivered ? 'Delivered:' : 'Estimated Delivery:' %>
						</div>
						<div id="est_delivery_time" class="bold_body indv_time"><%- dat[0].MostRecentTime %></div>
						<% } %>
                    </div>
                    <div class="events_data_box">
						<% if (!dat[0].Error) { %>
						<% for (event of dat[0].Events) { %>
                        <div class="line_event_and_date">
                            <div class="event_description">
								<div class="reg_body"><%= event.Description %></div>
                            </div>
							<% if (event.Time) { %>
                            <div class="times">
								<div  class="reg_body indv_time">
									<%= event.Time %>
								</div>
                            </div>
							<% } %>
                        </div>
						<% } %>
						<% } else { %>
                        <div class="line_event_and_date">
                            <div class="event_description">
								<div class="reg_body">
                                    No information available.
                                </div>
                            </div>
                        </div>
						<% } %>
                    </div>  
                </div>

            </div>

            <div class="completed_bar">
                <div class="percent_complete">50% est. travel completed</div>
            </div>

            <div class="miles_traveled_and_graph">
       
                <div class="miles_data">
                    <div class="miles_soFar">
                        <div class="bold_body">Miles Traveled so far:</div>
                        <div id="total_dist" class="bold_body"><%= dat[0].TotalDistance %> Miles</div>
                    </div>
                    <div class="mileage_listings">
						<% if (!dat[0].Error) { %>
						<% for (let i = 0; i < dat[0].Travels.length; i++) {
							const travel = dat[0].Travels[i];
							let travString = "";

							if (travel.From === travel.To) {
							  travString = travel.From;
							} else {
							  travString = travel.From + ' -> ' + travel.To;
							}

							const mBoxTemplate = `
							  <div class="mileages_box">
								  <div class="event_description">
									  <div class="reg_body">${travString}:</div>
									  <div></div>
								  </div>
								  <div class="times">
									  <div class="reg_body">${travel.Distance ? travel.Distance + " miles" : "At Location"}</div>
									  <div class="sec_time">Time: ${travel.TimeTaken*1000}</div>
								  </div>
							  </div>
							  `;
						  %>
						  <%- mBoxTemplate %>
						  <% } %>
						  <% } else { %>
							<div class="line_event_and_date">
							  <div class="event_description">
								<div class="reg_body">Sorry, there's no information about this package, yet.</div>
							  </div>
							</div>
						  <% } %>
                    </div>

                    <div class="miles_total_estimated">
                        <div class="bold_body">Estimated Total Miles:</div>
                        <div class="bold_body">?</div>
                    </div>
                </div>
                
                <div class="miles_graph"></div>
            
            </div>
        </div>
        <footer class="footer">
            <div id="bottom_line"></div>
            <div class="footer_div">
                <div></div>
                <div class="holberton">
                    <img class="holb_logo" src="http://packagefiend.com/images/holb_logo_black.svg">
                    <p>Holberton School</p>
                </div>
                <p id="footer_link">Privacy</p>
            </div>
        </footer>
    </body>
	<script type="text/javascript" src="http://localhost:8080/scripts/tracker.js"></script>
	<script type="text/javascript">
		let latlngs = [];
		<% if (!dat[0].Error) { %>
		<% for (event of dat[0].Events) { %>
			<% if (event.Location.Geo !== null && event.Location.Geo !== undefined) { %>
				L.marker([<%= event.Location.Geo.lat %>, <%= event.Location.Geo.lng %>]).addTo(mymap);
				latlngs.push([<%= event.Location.Geo.lat %>, <%= event.Location.Geo.lng %>]);
			<% } %>
		<% } %>
		<% } %>
		const pline = L.polyline(latlngs);
		pline.addTo(mymap);

		<% if (!dat[0].Error) { %>
		mymap.fitBounds(pline.getBounds(), {padding: [25, 25]});
		<% } %>

		const data = <%- JSON.stringify(dat, null, 0) %>;
	</script>
</html>
